<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<!-- 	공지 페이지
			담당: 홍예진 
			
			private int noti_no;//key
			private String noti_title;//제목
			private String noti_content;//내용
			private Date noti_date;//날짜
	-->
			
<mapper namespace = "com.geist.mapper.NoticeMapper">

	<select id = "noticeList" resultType = "com.geist.domain.NoticeVO">
	<![CDATA[
		select noti_title, noti_date from notice where noti_no > 0 order by noti_no desc
		]]>
	</select>
	
	<select id = "noticeRead" resultType = "com.geist.domain.NoticeVO">
		select noti_title, noti_content, noti_date from notice where noti_no = #{noti_no}
	</select>
</mapper>