<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	사원 관리 페이지
	담당 : 김호영
-->

<mapper namespace="com.geist.empManage.mapper.EmpManageMapper">
	<sql id="criteria">
		<trim prefix="(" suffix=") AND ">
			<choose>
				<when test="type == 'N'.toString()">
					emp_name like '%'||#{keyword}||'%'
				</when>
				<when test="type == 'P'.toString()">
					emp_position like '%'||#{keyword}||'%'
				</when>
				<when test="type == 'D'.toString()">
					dept_name like '%'||#{keyword}||'%'
				</when>
			</choose>
		</trim>
	</sql>

	<select id="getListWithPaging" resultType="com.geist.empManage.domain.EmpManageVO">
		<![CDATA[
			SELECT
				emp_no, emp_name, emp_position, emp_date, dept_name
			FROM
				(
				SELECT /*+ INDEX_ASC(employee pk_employee) */
			        empSearch.*, rownum rn
			    FROM (
			        SELECT emp_no, emp_name, emp_position, to_char(emp_date, 'YYYY-MM-DD') emp_date, dept_name
			        FROM employee emp, department dept
			        WHERE emp.dept_no = dept.dept_no
			        ORDER BY emp_name ASC
			        ) empSearch
			    WHERE        
		]]>
		<include refid="criteria"></include>
		<![CDATA[
					rownum <= #{pageNum} * #{amount}
			)
			WHERE
				rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getCount" resultType="int">
		<![CDATA[
			SELECT count(emp_no) FROM employee emp, department dept WHERE
		]]>
		<include refid="criteria"></include>
		<![CDATA[
			emp.dept_no = dept.dept_no
		]]>
	</select>
	
	<select id="getDetail" resultType="com.geist.empManage.domain.EmpManageVO">
		<![CDATA[
			SELECT
				emp_no, emp_id, emp_name, to_char(emp_birth, 'YYYY-MM-DD') emp_birth, emp_phone, emp_tel, emp_email, emp_address, emp_position, emp_sal, to_char(emp_date, 'YYYY-MM-DD') emp_date, dept_name
			FROM
				employee emp, department dept
			WHERE
				emp.dept_no = dept.dept_no AND emp_no = #{emp_no}
		]]>
	</select>
	
	<update id="modifyEmp">
		<![CDATA[
			UPDATE employee
			SET emp_position = #{emp_position}, emp_sal = #{emp_sal}, dept_no = (
				SELECT dept_no
				FROM department
				WHERE dept_name = #{dept_name}
			)
			WHERE emp_no = #{emp_no}
		]]>
	</update>
	
	<delete id="deleteEmp">
		delete from employee where emp_no = #{emp_no}
	</delete>
</mapper>