<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	마이페이지
	담당 : 김현선	
	
	조회 : 아이디, 사원번호, (직책, 급여, 입사일,) 사내연락처, 개인연락처, 생년월일, 주소
	수정 : 아이디, (새 비밀번호, 새 비밀번호 재입력), 사원번호, 직책, 급여, 입사일, 사내연락처, 개인연락처, 생년월일, 주소
 -->

<mapper namespace="com.geist.myPage.mapper.MypageMapper">

	<select id="read" resultType="com.geist.myPage.domain.MypageDTO">
		<![CDATA[
		SELECT 
			d.dept_name, e.dept_no, e.emp_name, e.emp_id, e.emp_no, e.emp_position, e.emp_sal, 
			to_char(emp_date, 'YYYY-MM-DD') emp_date, e.emp_tel, e.emp_phone,
			to_char(emp_birth, 'YYYY-MM-DD') emp_birth, e.emp_address
		FROM
			employee e, department d
		WHERE
			e.emp_no = #{emp_no}
			and e.dept_no = d.dept_no
		]]>
	</select>
	
	<update id="update">
		UPDATE 
			employee 
		SET 
			emp_pw = #{emp_pw}, emp_tel = #{emp_tel}, emp_phone = #{emp_phone}, emp_address = #{emp_address}
		WHERE
			emp_no = #{emp_no}
	</update>

</mapper>