<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	결재 페이지
	담당 : 김현선
 -->

<mapper namespace="com.geist.approval.mapper.ApprovalMapper">
	
	<!-- 결재 문서 생성 insert -->
	<insert id="appCreate">
		INSERT INTO approval 
		VALUES (#{app_no}, #{app_class}, #{app_title}, sysdate, 1)
	</insert>	
	<!-- 결재 요청자 insert -->
	<insert id="appReqCreate" >
		INSERT INTO 
			app_request (app_no, emp_no) (
			SELECT 
				a.app_no, e.emp_no 
			FROM 
				approval a, employee e 
			WHERE 
				a.app_no = #{app_no}
				and e.emp_no = #{emp_no}
			)
	</insert>	
	<!-- 결재 승인자들 insert -->
	<insert id="appAgrCreate">
		INSERT INTO
		    app_agree (app_no, emp_no, agr_status) (
		    SELECT 
		        a.app_no, e.emp_no, a.app_status 
		    FROM 
		        approval a, employee e 
		    WHERE 
		        a.app_no = #{agrVo.app_no}
		        and e.emp_no = (
		            SELECT emp_no FROM employee 
		            WHERE dept_no = (
		                SELECT dept_no FROM employee WHERE emp_no = #{emp_no}
		            ) 
		            AND emp_position LIKE '%'||#{agrVo.emp_position}||'%'
		        )
		    )
	</insert>
	<!-- 결재 문서 생성할 작성자 정보 조회  -->
	<select id="appWriter" resultType="com.geist.approval.domain.ApprovalWriterDTO">
		SELECT 
		    d.dept_name, e.emp_name, e.emp_position
		FROM
		    employee e, department d
		WHERE
		    e.emp_no = #{emp_no}
			and e.dept_no = d.dept_no
	</select>
	
	<!-- 결재 요청 조회 -->	
	<select id="reqListWithPaging" resultType="com.geist.approval.domain.ApprovalDTO">
		<![CDATA[
			SELECT
				app_no, app_class, app_date, app_title, emp_name, app_status
			FROM
				(
				SELECT /*+ INDEX_DESC(app_request pk_app_request) */
			        appSearch.*, rownum rn
			    FROM (
			        SELECT arq.app_no, a.app_class, to_char(app_date, 'YYYY-MM-DD') app_date, a.app_title, e.emp_name, a.app_status
			        FROM approval a, employee e, app_request arq
			        WHERE 
			            e.emp_no = arq.emp_no   
			            and arq.app_no = a.app_no  
			            and arq.emp_no = #{emp_no}
			        ORDER BY app_no DESC
			        ) appSearch
			    WHERE        
					rownum <= #{cri.pageNum} * #{cri.amount}
			    )
			WHERE rn >  (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>	
	<!-- 결재 요청 상세 조회 -->
	<select id="reqDetail" resultType="com.geist.approval.domain.ApprovalReqDetailDTO">
			SELECT 
				d.dept_name, e.emp_position, e.emp_name, to_char(app_date, 'YYYY-MM-DD') app_date
			FROM 
				approval a, employee e, app_request arq, department d
			WHERE 
				e.emp_no = arq.emp_no 
				and e.dept_no = d.dept_no
				and arq.app_no = a.app_no
				and arq.emp_no = #{emp_no}
				and arq.app_no = #{app_no}
	</select>
	
	
	<!-- 결재 승인 조회 -->
	<select id="agrListWithPaging" resultType="com.geist.approval.domain.ApprovalAgrDetailDTO">
		<![CDATA[
			SELECT
			    app_no, app_class, app_date, app_title, emp_name, agr_status, app_status
			FROM
			    (
				SELECT /*+ INDEX_DESC(app_agree pk_app_agree) */
			        appAdmit.*, rownum rn
			    FROM (
			        SELECT arq.app_no, a.app_class, to_char(app_date, 'YYYY-MM-DD') app_date, a.app_title, e.emp_name, agr.agr_status, a.app_status
			        FROM approval a, employee e, app_request arq, app_agree agr
			        WHERE 
			            e.emp_no = arq.emp_no  
			            and agr.app_no = arq.app_no   
						and agr.app_no = a.app_no  
						and agr.emp_no = #{emp_no}
			        ORDER BY app_no DESC
			        ) appAdmit
			    WHERE        
					rownum <= #{cri.pageNum} * #{cri.amount}
			    )
			WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>	
	<!-- 결재 승인 상세 조회 -->
	<select id="agrDetail" resultType="com.geist.approval.domain.ApprovalAgrDetailDTO">
		<![CDATA[
			SELECT 
				dept_name, emp_position, emp_name, app_title, app_date
			FROM (
			    SELECT 
			        d.dept_name, e.emp_position, e.emp_name, a.app_title, to_char(app_date, 'YYYY-MM-DD') app_date
			    FROM 
			        approval a, employee e, app_request arq, app_agree agr, department d
			    WHERE 
			        e.emp_no = arq.emp_no 
			        and e.dept_no = d.dept_no
			        and agr.app_no = arq.app_no   
			        and agr.app_no = a.app_no  
			        and agr.app_no = #{app_no}
			        and agr.emp_no = #{emp_no} 
			)
		]]>
	</select>
	<!-- 결재 승인자들 조회 -->
	<select id="approvers" resultType="com.geist.approval.domain.ApprovalAgrDetailPositionVO">
		<![CDATA[
			SELECT emp_position FROM employee 
			WHERE emp_no IN (
				SELECT emp_no FROM app_agree WHERE app_no IN (#{app_no})
				)
		]]>
	</select>
	
	
	<!-- 결재 요청 개수 조회 -->
	<select id="reqGetCount" resultType="int">
		SELECT 
			count(*)
		FROM 
			approval a, employee e, app_request arq
 		WHERE
 			e.emp_no = arq.emp_no 
 			and arq.app_no = a.app_no 
 			and arq.emp_no = #{emp_no}		
	</select>
	
	<!-- 요청받은 결재 개수 조회 -->
	<select id="argGetCount" resultType="int">
		SELECT 
			count(*)
		FROM 
			approval a, employee e, app_request arq, app_agree agr, department d
 		WHERE
 			e.emp_no = agr.emp_no 
		    and e.dept_no = d.dept_no
		    and agr.app_no = arq.app_no   
		    and agr.app_no = a.app_no 
 			and agr.emp_no = #{emp_no}		
	</select>
	
	<!-- 결재 승인 or 반려_수정전 -->
	<update id="appAgree">
		UPDATE 
			app_agree 
		SET 
			agr_status = #{agr_status} 
		WHERE 
			emp_no = #{emp_no} 
			and app_no = #{app_no}
	</update>
	<!-- 결재자들의 결재 여부 확인 -->
	<select id="appAgreeChk" resultType="long">
		<![CDATA[
			SELECT DISTINCT app_no FROM app_agree 
			WHERE app_no = #{app_no} and
				(SELECT count(*) FROM app_agree WHERE app_no = #{app_no})
				= (SELECT count(*) FROM app_agree WHERE agr_status NOT IN (1) and app_no = #{app_no})
		]]>
	</select>
	<!-- 결재자들의 반려 개수 체크 -->
	<select id="appRejectChk" resultType="int">
		SELECT count(*) as count FROM app_agree WHERE agr_status IN (3) and app_no = #{app_no}
	</select>
	<!-- 최종 승인 상태 update -->
	<update id="finalState">
		UPDATE approval SET app_status = #{count} WHERE app_no = #{app_no}
	</update>

</mapper>
