<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	결재 페이지
	담당 : 김현선
 -->

<mapper namespace="com.geist.approval.mapper.ApprovalMapper">
	<select id="getList" resultType="com.geist.approval.domain.ApprovalVO">
		SELECT 
			a.app_date, a.app_title, e.emp_name, a.app_status
		FROM 
			approval a, employee e, ${table} tb
		WHERE 
			e.emp_no = tb.emp_no   
			and tb.app_no = a.app_no  
			and tb.emp_no = #{emp_no} 
	</select>
	
	<select id="getListWithPaging" resultType="com.geist.approval.domain.ApprovalVO">
		<![CDATA[
			SELECT
				app_date, app_title, emp_name, app_status
			FROM
			(
				SELECT /*+ INDEX_ASC(${table} pk_${table}) */
					rownum rn, a.app_date, a.app_title, e.emp_name, a.app_status
				FROM
					approval a, employee e, ${table} tb
				WHERE
					e.emp_no = tb.emp_no   
					and tb.app_no = a.app_no  
					and tb.emp_no = #{emp_no}
					and rownum <= #{cri.pageNum} * #{cri.amount}
			)
			WHERE
				rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getListDetail" resultType="com.geist.approval.domain.ApprovalVO">
			SELECT 
				a.app_no, a.app_class, a.app_title, a.app_date, a.app_status
			FROM 
				approval a, employee e, ${table} tb
			WHERE 
				e.emp_no = tb.emp_no 
				and tb.app_no = a.app_no
				and tb.emp_no = #{emp_no}
				and tb.app_no = #{app_no}
	</select>
	
	<insert id="create">
			INSERT INTO approval 
			VALUES (seq_approval.nextval, #{app_class}, #{app_title}, #{app_date}, 1)
	</insert>
	
	<insert id="appRequest">
			INSERT INTO 
				app_request (app_no, emp_no) (
				SELECT 
					a.app_no, e.emp_no 
				FROM 
					approval a, employee e 
				WHERE 
					a.app_no = #{app_no}
					and e.emp_no = #{emp_no}
				)
	</insert>
	
	<update id="agree">
		UPDATE 
			app_agree 
		SET 
			agr_status = #{agr_status} 
		WHERE 
			emp_no = #{emp_no} 
			and app_no = #{app_no}
	</update>
	
	
</mapper>