<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	결재 페이지
	담당 : 김현선
 -->

<mapper namespace="com.geist.approval.mapper.AppRequestMapper">
	
	<!-- 결재 문서 생성 insert -->
	<insert id="appCreate">
		INSERT INTO approval 
		VALUES (#{app_no}, #{app_class}, #{app_title}, sysdate, 1)
	</insert>	
	
	<!-- 결재 요청자 insert -->
	<insert id="appReqCreate" >
		INSERT INTO 
			app_request (app_no, emp_no) (
			SELECT 
				a.app_no, e.emp_no 
			FROM 
				approval a, employee e 
			WHERE 
				a.app_no = #{app_no}
				and e.emp_no = #{emp_no}
			)
	</insert>	
	
	<!-- 결재 승인자들 insert -->
	<insert id="appAgrCreate">
		INSERT INTO
		    app_agree (app_no, emp_no, agr_status) (
		    SELECT 
		        a.app_no, e.emp_no, a.app_status 
		    FROM 
		        approval a, employee e 
		    WHERE 
		        a.app_no = #{agrVo.app_no}
		        and e.emp_no = (
		            SELECT emp_no FROM employee 
		            WHERE dept_no = (
		                SELECT dept_no FROM employee WHERE emp_no = #{emp_no}
		            ) 
		            AND emp_position LIKE '%'||#{agrVo.emp_position}||'%'
		        )
		    )
	</insert>
	
	<!-- 결재 문서 생성할 작성자 정보 조회  -->
	<select id="appWriter" resultType="com.geist.approval.domain.ApprovalWriterDTO">
		SELECT 
		    d.dept_name, e.emp_name, e.emp_position
		FROM
		    employee e, department d
		WHERE
		    e.emp_no = #{emp_no}
			and e.dept_no = d.dept_no
	</select>
	
</mapper>
