<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<!-- 	공지 페이지
			담당: 홍예진 
			
			private int noti_no;//key
			private String noti_title;//제목
			private String noti_content;//내용
			private Date noti_date;//날짜
			
			DB에 noti_seq 생성되야 noticeWrite 정상작동 가능
	-->
			
<mapper namespace = "com.geist.notice.mapper.NoticeMapper">

	<select id = "noticeList" resultType = "com.geist.notice.domain.NoticeVO">
	<![CDATA[
		select noti_no, noti_title, noti_date
		from(
		select /*+INDEX_DESC(notice pk_notice) */
			rownum rn, noti_no, noti_title, to_char(noti_date, 'YYYY-MM-DD') noti_date
		from
			notice)
		where rownum <= #{pageNum} * #{amount}
		and rn > (#{pageNum} -1) * #{amount} order by noti_no desc
		]]>
	</select>
	
	<select id = "noticeCount" resultType = "int">
		SELECT count(*) FROM notice
	</select>
	
	<select id = "noticeRead" resultType = "com.geist.notice.domain.NoticeVO">
		select noti_title, noti_content, noti_date from notice where noti_no = #{noti_no}
	</select>
	
	<insert id = "noticeWrite">
		insert into notice(noti_no, noti_title, noti_content, noti_date) values (notice_seq.nextval, #{noti_title}, #{noti_content}, sysdate)
	</insert>
	
	<update id = "noticeUpdate">
		update notice set noti_title = #{noti_title}, noti_content = #{noti_content}, noti_date = sysdate where noti_no = #{noti_no} 
	</update>
	
	<delete id = "noticeDelete">
		delete from notice where noti_no = #{noti_no}
	</delete>
	
</mapper>