<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	주소록 조회 페이지
	담당 : 김현선
 -->

<mapper namespace="com.geist.address.mapper.AddressMapper">	
	<sql id="criteria">	
		<trim prefix="AND (" suffix=")">
			<choose>
				<when test="keyword != null">
					emp_name like '%'||#{keyword}||'%'
				</when>
			</choose>
		</trim>	
	</sql>
	
	<sql id="criteriaKeyword">	
		<trim prefix="WHERE (" suffix=")">
			<choose>
				<when test="keyword != null">
					emp_name like '%'||#{keyword}||'%'
				</when>
			</choose>
		</trim>	
	</sql>
	
	<select id="getListWithPaging" resultType="com.geist.address.domain.AddressVO">
		<![CDATA[
			SELECT
				emp_name, emp_email, emp_phone, emp_tel, emp_position, dept_no
			FROM
			(
				SELECT /*+ INDEX_ASC(employee pk_employee) */
					rownum rn, emp_name, emp_email, emp_phone, emp_tel, emp_position, dept_no
				FROM
					employee
				WHERE
					rownum <= #{pageNum} * #{amount} 
				]]>
		<include refid="criteria"></include>
		<![CDATA[						
			)
			WHERE
				rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getCount" resultType="int">
		<![CDATA[
		SELECT count(emp_no) FROM employee
		]]>
		<include refid="criteriaKeyword"></include>
	</select>
		
</mapper>