<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	가입 승인 페이지
	담당 : 김호영
-->

<mapper namespace="com.geist.joinRequest.mapper.JoinRequestMapper">
	<select id="getListWithPaging" resultType="com.geist.joinRequest.domain.JoinRequestVO">
		<![CDATA[
			SELECT
				req_id, req_name, req_birth, req_phone, req_email, req_address
			FROM
			(
				SELECT /*+ INDEX_DESC(request pk_request) */
					rownum rn, req_id, req_name, to_char(req_birth, 'YYYY-MM-DD') req_birth, req_phone, req_email, req_address
				FROM
					request
				WHERE
					rownum <= #{pageNum} * #{amount}
			)
			WHERE
				rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getCount" resultType="int">
		<![CDATA[
			SELECT count(req_id) FROM request
		]]>
	</select>
	
	<select id="getDetail" resultType="com.geist.joinRequest.domain.JoinRequestVO">
		<![CDATA[
			SELECT
				req_id, req_name, to_char(req_birth, 'YYYY-MM-DD') req_birth, req_phone, req_email, req_address
			FROM
				request
			WHERE
				req_id = #{req_id}
		]]>
	</select>
	
	<select id="getAllDetail" resultType="com.geist.joinRequest.domain.JoinRequestVO">
		<![CDATA[
			SELECT
				req_id, req_pw, req_name, to_char(req_birth, 'YYYY-MM-DD') req_birth, req_phone, req_email, req_address
			FROM
				request
			WHERE
				req_id = #{req_id}
		]]>
	</select>
	
	<select id="getDeptNo" resultType="Long">
		SELECT
			dept_no
		FROM
			department
		WHERE
			dept_name = #{dept_name}
	</select>
	
	<insert id="insertEmp">
		INSERT INTO employee(emp_no, emp_id, emp_pw, emp_name, emp_birth, emp_phone, emp_email, emp_address, emp_position, emp_sal, emp_date, dept_no)
		VALUES(
			seq_emp_no.nextval,
			#{vo.req_id},
			#{vo.req_pw},
			#{vo.req_name},
			to_date(#{vo.req_birth}),
			#{vo.req_phone},
			#{vo.req_email},
			#{vo.req_address},
			#{emp_position},
			#{emp_sal},
			sysdate,
			#{dept_no}
		)
	</insert>
	
	<delete id="deleteRequest">
		delete from request where req_id = #{req_id}
	</delete>
</mapper>